$bg-image: url(../img/m-h-day.jpg);
$logo-white: #fff;
$logo-black: #000;
$button-color: rgb(104, 151, 17);
$mark-color: rgb(27, 140, 216);
$section-bg: #fff;
$gradient: linear-gradient(90deg, rgb(99, 177, 35), rgb(27, 87, 216));
$footer-color: #202231;
$cards-color: #202231;
$text-color: #202231;
