$bg-image: url(../img/m-h-night.jpg);
$logo-white: #fff;
$logo-black: #fff;
$button-color: rgb(223, 173, 35);
$mark-color: rgb(248, 81, 4);
$section-bg: rgb(28, 27, 37);
$gradient: linear-gradient(90deg, rgb(223, 210, 35), rgb(248, 81, 4));
$footer-color: #4b4d63;
$cards-color: #4b4d63;
$text-color: #fff;
